@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* theme */
@theme {
    --font-Poppins: "Poppins", sans-serif;
    --color-primary: #ff014f;
    --color-secondary: #f4f5f6;
    --color-tertiary: #0d1013;
    --color-tertiary-light: #23272b;
    --color-tertiary-dark: #1c1f22;
    --color-gray: #f6f6f6;
    --color-text-primary: #d1d9e6;
    --color-blue-sky: oklch(62.3% 0.214 259.815);
    
    --text-to-small: 0.6rem;

    --animate-fade-in: fade-in 0.5s ease-in forwards;
    --animate-fade-hidden: fade-hidden 0.15s ease-in forwards;

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateY(-2%)
      }
      100% {
        opacity: 1;
        transform: translateY(0%)
      }
    }
    
    @keyframes fade-hidden {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    
}


@layer components {
  .line {
    @apply relative; /* supaya after bisa absolute */
  }

  .line::after {
    content: "";
    @apply absolute w-full h-[1px] bg-text-primary rounded-full opacity-30 bottom-0;
  }


  .line-black {
    @apply relative; /* supaya after bisa absolute */
  }

  .line-black::after {
    content: "";
    @apply absolute w-full h-[2px] bg-black rounded-full opacity-30 bottom-0;
  }
  


  .line-black-before {
    @apply relative; /* supaya after bisa absolute */
  }

  .line-black-before::after {
    content: "";
    @apply absolute w-full h-[2px] bg-black rounded-full opacity-30 top-0;
  }

  /* transition */
  .transition-500 {
    @apply transition-all duration-500 ease-in-out;
  }
  .transition-700 {
    @apply transition-all duration-700 ease-in-out;
  }
  .transition-1 {
    @apply transition-all duration-1000 ease-in-out;
  }

  .back-y {
    @apply translate-y-0 opacity-100;
  }


  .back-x {
    @apply translate-x-0 opacity-100
  }

  .back-scale {
    @apply scale-100 opacity-100
  }

  .start-to-top {
    @apply translate-y-16 opacity-0;
  }
  .start-to-bottom {
    @apply -translate-y-16 opacity-0;
  }

  .start-to-left {
    @apply translate-x-16 opacity-0;
  }
  .start-to-right {
    @apply -translate-x-16 opacity-0;
  }

  .start-scale-small {
    @apply scale-0 opacity-0
  }

  .no-scroll {
    @apply overflow-hidden;
  }
}



body {
    background-color: #23272b;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

button {
  cursor: pointer;
}


/* Scrollbar transparan full */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* pastikan transparan */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}



